	<div data-role="header" data-position="inline">
    <h1>Login with facebook  </h1>
     <a href="<%= Rho::Application.startURI %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
	      Home
	    </a>
		<fb:login-button autologoutlink="true" class="ui-btn-right" width="250"></fb:login-button>
	</div>

  <div data-role="content">
    <h2> Mobiveil welcomes you, Hello World</h2>
	
  <form method="POST" action="<%= url_for :action => :call_reverse_web_service %>">
      <input type="hidden" name="id" value="<%= @rotation.object %>"/>

          <div data-role="fieldcontain">
            <label for="rotation[input]" class="fieldLabel">Input</label>
            <input type="text" id="rotation[input]" name="rotation[input]" <%= placeholder("Input") %> />
          </div>


      <input type="submit" value="Create"/>
    </form>
  </div>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '540579619347122', // App ID
    channelUrl : 'http://localhost:8080/app/Rotation/login/', 
    status     : true, 
    cookie     : false, 
    xfbml      : true  
  });

  FB.Event.subscribe('auth.authResponseChange', function(response) {
    if (response.status === 'connected') {
      testAPI();
    } else if (response.status === 'not_authorized') {
      FB.login();
    } else {
      FB.login();
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Good to see you, ' + response.name + '.');
    });
  }
</script>

