<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @rotation.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @rotation.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="rotation[input]" class="fieldLabel">Input</label>
            <input type="text" id="rotation[input]" name="rotation[input]" <%= placeholder("Input") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
